@model IEnumerable<StoreFront.DATA.EF.Models.Department>

@{
    ViewData["Title"] = "Departments";
}

<h1>Departments</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="">
    <div class=" align-content-center ">
        <div class="vw-50  table-responsive">
            <table id="table" class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.DepartmentName)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.DepartmentName)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.DepartmentId">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.DepartmentId">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.DepartmentId">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    @section Scripts {
    <script>

        //Update the selector to target the element with the class of table
        $(document).ready(function(){
        let table = new DataTable('#table');

        });


    </script>
    }
