@model IEnumerable<StoreFront.DATA.EF.Models.Category>

@{
    ViewData["Title"] = "Categories";
}
<section class="m-5">
    <h1>Categories</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <div class="">
        <div class=" align-content-center ">
            <div class="vw-50  table-responsive">
                <table id="table" class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.CategoryName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Department)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CategoryName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Department.DepartmentName)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.CategoryId">Edit</a> |
                                    <a asp-action="Details" asp-route-id="@item.CategoryId">Details</a> |
                                    <a asp-action="Delete" asp-route-id="@item.CategoryId">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
@section Scripts {
<script>

    //Update the selector to target the element with the class of table
    $(document).ready(function(){
    let table = new DataTable('#table');

    });


</script>
}