@model IEnumerable<StoreFront.DATA.EF.Models.FoodStoreMenu>

@{
    ViewData["Title"] = "AdminProds";
}

<h1>AdminProds</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FoodName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FoodDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FoodPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FoodImg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supplier)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FoodName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FoodDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FoodPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FoodImg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supplier.Address)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FoodId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FoodId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FoodId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
