@model IEnumerable<StoreFront.DATA.EF.Models.FoodStoreMenu>

@{
    ViewData["Title"] = "Inventory";
}
<section class="m-5">

<h1 class="text-center">Inventory View</h1>
<a class="text-center" asp-action="Index" asp-controller="FoodStoreMenus">Customer View</a>

<p class="text-center">
    <a asp-action="Create">Create New</a>
</p>
<div class="">
    <div class=" align-content-center ">
        <div class="vw-50  table-responsive">
            <table id="table" class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.FoodName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FoodDesc)
                        </th>
                        <th>
                            Price
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.InStock)
                            @if (true)
                            {
                                
                            }
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Category)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Supplier)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.FoodName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FoodDesc)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FoodPrice)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.InStock)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Category.CategoryName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Supplier.Address)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.FoodId">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.FoodId">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.FoodId">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
</section>

@section Scripts {
<script>

    //Update the selector to target the element with the class of table
    $(document).ready(function(){
    let table = new DataTable('#table');

    });


</script>
}