@model IEnumerable<StoreFront.DATA.EF.Models.FoodStoreMenu>

@{
    ViewData["Title"] = "Newest Products";
}



<h1 class="text-decoration-underline mt-3 ms-4">Newest Products</h1>

<div class="container">
    <div class="row">
        <div class="offset-3 col-md-6 mt-3">
            <div id="MessageContent" class="text-center"></div>
        </div>
    </div>

</div>

<section class="py-2">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            @foreach (var item in Model)
            {
                <div class="col mb-5">
                    <div class="card shadow-sm">
                        <!-- Product image-->
                    <img src="~/images/@item.FoodImg" alt="@item.FoodDesc" class="card-img-top img-fluid" />
                        <div class="card-body py-2 px-4">
                            <div class="text-center">
                                <!-- Product name-->
                            <h5 class="fw-bolder ProdName"><a class="ProdName" asp-action="Details" asp-route-id="@item.FoodId">@Html.DisplayFor(modelItem => item.FoodName)</a></h5>


                                <!-- Product price-->
                            @Html.DisplayFor(modelItem => item.FoodPrice)
                            </div>
                        </div>
                        <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">

                            <div class="text-center"><a class="btn btn-outline-dark mt-auto atcart" data-ajax="true" data-ajax-success="addedConfirmed" data-ajax-method="Post" href="~/ShoppingCart/AddToCart/@item.FoodId" data-ajax-confirm="Are you sure you want to add @item.FoodName?">
                                    Add to cart
                                </a></div>
                        </div>
                    </div>
                </div>
            }
        </div>
        
    </div>
</section>    


@section Scripts{
<script>
    function addedConfirmed(response, status, data) {


                productCount += 1

                //Display a status message
                $(window).scrollTop(0);

                $("#MessageContent").html("<div class='alert alert-success'>" + response.message + "</div>").delay('2000').fadeIn('6000');

                $("#productCount").text(productCount)

            }

</script>

}