@model IEnumerable<StoreFront.DATA.EF.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DeliverAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliverZip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DeliverAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliverZip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State.StateName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserEmail)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OrderId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OrderId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OrderId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
